*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.dropdown-item{
 	font-family:$fuente-principal;	
	 font-size:$fuente-medida;
}

 .nav-link {
	font-size:$fuente-medida;
	font-family:$fuente-principal;
	color: $color-titulo;
}

#logo{
	width:120px; 
	height:120px;
}

.icon{
	@include icon(30px,30px,35px)
}

#montadoNav{
	display: none;
}

.navPequeño:hover{
	background-color: rgb(187, 247, 247);
}